<section class="showcase">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="wow fadeInUp" data-wow-delay="0.5s">showcase</h2>
                    <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end header -->
    <div class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="portfolio-masonry">
                        {{#foreach data.tiles}}
                            <li class="{{this.size}} wow fadeInUp" data-wow-delay="{{this.delay}}">
                                <figure><img src="{{getVersionedPath this.imagePath}}" alt="Image">
                                    <a href="{{getVersionedPath this.imagePath}}" data-rel="gallery" class="swipebox" title="{{toUpperCase this.title}}">
                                        <figcaption class="{{this.bgColor}}">
                                            <div class="table">
                                                <div class="inner">{{toUpperCase this.title}}</div>
                                            </div>
                                        </figcaption>
                                    </a>
                                </figure>
                            </li>
                        {{/foreach}}
                    </ul>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end portfolio -->
</section>
<!-- end showcase -->
