<main class="int-header-no-img">
  <section class="showcase">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="title-box">
              <h2 class="wow fadeInUp" data-wow-delay="0.05s">Family Home, Muswell Hill</h2>
              <h5 class="wow fadeInUp" data-wow-delay="0.10s">I've been called to help with the hallway which was white and soulless. By adding a beautiful wallpaper which reacts with the different lights of the day and adding a black console table and mirror, we've created a welcoming new space, all in nuances and details. On the other hand, the brief for the other space was to jazz up the kitchen/dining room. The client wanted some colour or a funky statement piece. I played with bold colours and strong patterns, softened by some lovely and delicate illustrations which link the inside with the outdoor space.</h5>
              <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
            <!-- end title-box -->
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_01.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_02.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_03.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_04.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_05.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_06.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_07.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_08.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_09.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_10.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_11.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_12.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_13.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_14.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/firs/Firs_15.jpg"}}" alt="Image"></div>
            </div>
          </div>
          <div class="col-xs-3">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
</main>
v
