<main class="int-header-no-img">
  <section class="showcase">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="title-box">
              <h2 class="wow fadeInUp" data-wow-delay="0.05s">Muswell Hill Family Home</h2>
              <h5 class="wow fadeInUp" data-wow-delay="0.10s">This 1920s terraced house was tired and needed modernising to suit the needs of a young family. The original ground floor layout was opened up to let more light into the kitchen, dining area and playroom. The rest of the house was also upgraded and redecorated with bold colours and beautiful wallpapers.</h5>
              <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
            <!-- end title-box -->
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_01.jpg"}}" alt="Image">
              </div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_02.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_03.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_04.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_05.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_06.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_07.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_08.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_09.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_10.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_11.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_12.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_13.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_14.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_15.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_16.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_17.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_18.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_19.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_20.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_21.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_22.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_23.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_24.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_family/cav_25.jpg"}}" alt="Image"></div>
            </div>
          </div>
          <div class="col-xs-3">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
</main>
v
