<main class="int-header-no-img">
    <section class="showcase">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-box">
                            <h2 class="wow fadeInUp" data-wow-delay="0.05s">Edwardian Property, Muswell Hill</h2>
                            <h5 class="wow fadeInUp" data-wow-delay="0.10s">This Edwardian House was a big white space in need of some atmosphere and personality. Working closely with Catherine, I created a cosy and relax home, using soft colour palettes and beautiful textures.</h5>
                            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                        <!-- end title-box -->
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_1.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_2.jpg"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_3.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_4.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_5.jpg"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_6.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_7.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_8.jpg"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_9.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_10.jpg"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_11.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_12.jpg"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_13.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_14.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_16.jpg"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_17.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_19.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_20.jpg"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_21.jpg"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_22.jpg"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/muswellHill_1/MH1_23.jpg"}}" alt="Image"></div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <p>texte</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
</main>
v
