<main class="int-header-no-img">
  <section class="showcase">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="title-box">
              <h2 class="wow fadeInUp" data-wow-delay="0.05s">Muswell Hill Project</h2>
              <h5 class="wow fadeInUp" data-wow-delay="0.10s">This 1930s house was in need of an extension and a new
                layout to accommodate a busy family. Downstairs, small zones were visually created for living, cooking,
                dining and working with a pinch of humour throughout.</h5>
              <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
            <!-- end title-box -->
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_1.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_2.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_3.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_4.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-12"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_5.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_6.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_7.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_8.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_9.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_10.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_11.jpg"}}" alt="Image"></div>
            </div>
            <div class="row">
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_12.jpg"}}" alt="Image"></div>
              <div class="wow fadeInUp col-xs-6"><img
                src="{{getVersionedPath "/images/projects/muswellHill_2/MH2_13.jpg"}}" alt="Image"></div>
            </div>
          </div>
          <div class="col-xs-3">
            <p class="h3 text-left" style="margin-top: 170px">Houzz Tour: A 1930s House Becomes a Light and Bright Family Space</p>
            <p class="h4 text-left">A revamp of this London home shows how open-plan living can be fun, warm and cozy</p>
            <p class="text-left"><a href="http://www.houzz.co.uk/ideabooks/77636890/list/houzz-tour-a-1930s-house-becomes-a-light-and-bright-family-space"><img src="http://st.hzcdn.com/static_en-GB/badge181_25@2x.png" alt="Joséphine Lecouflé-Vinet in London, Greater London, UK on Houzz" width="181" height="25" border="0" /></a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
</main>
v
