<main class="int-header-no-img">
    <section class="showcase">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-box">
                            <h2 class="wow fadeInUp" data-wow-delay="0.05s">Shoreditch Park</h2>
                            <h5 class="wow fadeInUp" data-wow-delay="0.10s">Project coming soon!</h5>
                            <span class="shape wow fadeInUp" data-wow-delay="0.15s">O</span></div>
                        <!-- end title-box -->
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_01.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_02.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_03.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_04.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_05.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_06.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_07.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_08.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_09.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_10.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_11.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_12.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_13.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_14.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_15.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_16.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_17.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_18.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_19.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_20.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_21.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_22.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_23.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_24.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_25.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_26.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_27.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-12"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_28.JPG"}}" alt="Image"></div>
                        </div>
                        <div class="row">
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_29.JPG"}}" alt="Image"></div>
                            <div class="wow fadeInUp col-xs-6"><img src="{{getVersionedPath "/images/projects/Shoreditch_1/SP_30.JPG"}}" alt="Image"></div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <p>texte</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
</main>
v
