<main class="int-header-no-img">
    <section class="services-list">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="title-box">
                        <h2 class="wow fadeInUp" data-wow-delay="0.05s">La tête dans les étoiles</h2>
                        <span class="shape wow fadeInUp" data-wow-delay="0.10s">O</span></div>
                    <!-- end title-box -->
                </div>
                <!-- end col-12 -->
                <div class="col-xs-8 col-lg-offset-2 wow fadeInUp" data-wow-delay="0.05s">
                    <p>"La tête dans les étoiles*" is a project using 1930s photographs, reinterpreted in a more modern way. It illustrates how new stories can be created via reinvention. </p>
                    <p>It came from a need to find witty artworks for kids and teenagers' rooms. As a designer, it made sense to me to create such objects myself. This project, thanks to its humour, really appeals to a young audience and to any adult who has their head up high in the sky*.
                    <p>Each picture is original and unique, as each is made from a vintage print.</p>
                    <p><a href="mailto:contact@jlv-design.co.uk">Email us</a> for more information and check our Facebook page for the latest news and events.</p>
                </div>

            </div>
            <!-- end row -->
        </div>
        </div>
        <!-- end container -->
    </section>
    <section class="showcase row">
        <!-- end header -->
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="portfolio-masonry">
                      {{#foreach data.frames}}
                          <li class="{{this.size}} wow fadeInUp">
                              <figure><img src="{{getVersionedPath this.imagePath}}" alt="Image">
                                  <a href="{{getVersionedPath this.imagePath}}" data-rel="gallery" class="swipebox"
                                     title="{{this.title}}">
                                      <figcaption class="{{this.bgColor}}">
                                          <div class="table">
                                              <div class="inner">{{this.title}}</div>
                                          </div>
                                      </figcaption>
                                  </a>
                              </figure>
                          </li>
                      {{/foreach}}
                    </ul>
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end showcase -->

</main>
